/**
 * @author Cae Mostajo
 * @since 1.0
 */


body {
  padding: 200px 0 0 50%;
  margin-left: -148px;
}

.cube {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-15deg) rotateY(25deg);
          transform: rotateX(-15deg) rotateY(25deg);
}

/* entire container, keeps perspective */
.flip-container {
  position: absolute;
}

.flip-container, .front, .back {
  width:  150px;
  height: 150px;
}

/* flip speed goes here */
.flipper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  background: #323;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: #000;
  background-size: cover;
}


/*********************************************/

/* face position */
.front-face {
  -webkit-transform:  translate3d(0px, 0, 75px);
          transform:  translate3d(0px, 0, 75px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

}

.left-face {
  -webkit-transform:  rotateY(-90deg) translate3d(0px, 0, 75px);
          transform:  rotateY(-90deg) translate3d(0px, 0, 75px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.right-face {
  -webkit-transform:  rotateY(90deg) translate3d(0px, 0, 75px);
          transform:  rotateY(90deg) translate3d(0px, 0, 75px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.top-face {
  -webkit-transform:  rotateX(90deg) translate3d(0px, 0, 75px);
          transform:  rotateX(90deg) translate3d(0px, 0, 75px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.bottom-face {
  -webkit-transform:  rotateX(-90deg) translate3d(0px, 0, 75px);
          transform:  rotateX(-90deg) translate3d(0px, 0, 75px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.back-face {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 75px);
          transform: rotateY(180deg) translate3d(0, 0, 75px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* flipper initial transform-origin */
.front-flipper {
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
}

.left-flipper {
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
}

.right-flipper {
  -webkit-transform-origin: 150px 0 0;
          transform-origin: 150px 0 0;
}

.big-flipper {
  -webkit-transform-origin: 150px 0 -75px;
          transform-origin: 150px 0 -75px;
  
}

.top-flipper {
  -webkit-transform-origin: 100% 100% 0;
          transform-origin: 100% 100% 0;
}

.bottom-flipper {
  -webkit-transform-origin: 0 150px 0;
          transform-origin: 0 150px 0;
}

/* Adding texture */

.front-flipper .front {
  background: url("img/front-texture.png");
  background-size: cover;
}

.top-flipper .front {
  background: url("img/top-texture.png");
  background-size: cover;
}

.left-flipper .front {
  background: url("img/left-texture.png");
  
}




@media only screen and (max-width: 720px) {
    body {
      padding: 200px 0 400px 50%;
      margin-left: -60px;
      background: rgba(0, 0, 0, 0.8);
    }

  
  .flip-container, .front, .back {
  width:  75px;
  height: 75px;
}
  
  
  /* face position */
.front-face {
  -webkit-transform:  translate3d(0px, 0, 37.5px);
          transform:  translate3d(0px, 0, 37.5px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

}
  
.back-face {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 37.5px);
          transform: rotateY(180deg) translate3d(0, 0, 37.5px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

}

.left-face {
  -webkit-transform:  rotateY(-90deg) translate3d(0px, 0, 37.5px);
          transform:  rotateY(-90deg) translate3d(0px, 0, 37.5px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.right-face {
  -webkit-transform:  rotateY(90deg) translate3d(0px, 0, 37.5px);
          transform:  rotateY(90deg) translate3d(0px, 0, 37.5px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.top-face {
  -webkit-transform:  rotateX(90deg) translate3d(0px, 0, 37.5px);
          transform:  rotateX(90deg) translate3d(0px, 0, 37.5px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.bottom-face {
  -webkit-transform:  rotateX(-90deg) translate3d(0px, 0, 37.5px);
          transform:  rotateX(-90deg) translate3d(0px, 0, 37.5px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
  
  
  
.right-flipper {
  -webkit-transform-origin: 75px 0 0;
          transform-origin: 75px 0 0;
}

.big-flipper {
  -webkit-transform-origin: 75px 0 -37.5px;
          transform-origin: 75px 0 -37.5px;
  
}

.bottom-flipper {
  -webkit-transform-origin: 0 75px 0;
          transform-origin: 0 75px 0;
}


}
