.about .text {
  font-size: 8vmin;
  letter-spacing: -0.05em;
}

.about i {
  font-style: normal;
  position: relative;
  z-index: 1;
}

.about b {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: normal;
  width: 100%;
  page-break-after: always; /* CSS 2.1 syntax */
  break-after: always;
  line-height: 1.1em;
  padding-right: 1%;
  position: relative;
  z-index: 10;
  word-break: break-all;
}