.codes {
  font-weight: normal;
}

.codes pre {
  display: block;
  font-size: 4.5vw;
  white-space: pre-wrap;
  margin-bottom: 1em;
  line-height: 1em;
  position: relative;
  z-index: 10;
}

.codes .col-1,
.codes .col-2,
.codes .col-0 {
  margin-bottom: 20%;
}

.codes pre {
  margin-left: 5%;
  padding-bottom: 2%;
  display: block;
}

.codes .col-1 pre {
  margin-left: 20%;
}

.codes .icon {
  float: left;
  width: 10%;
  height: 80px;
  margin: 0 5%;
  background: no-repeat center;
  background-size: contain;
  position: relative;
  z-index: 10;
}

.codes .icon.spin {
  animation: spinner 5s linear infinite;
}

.codes .icon img {
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
}

.codes .icon.icon-e2 {
  animation: scale 1.5s infinite;
}

#b3-dots {
  position: absolute;
  top: 0%;
  left: 51%;
  transform: translate(-50%, 0);
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear infinite;
  stroke-dasharray: 0 12;
  stroke-linecap: round;
  stroke-width: 5;
}

.path-2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash-2 5s linear infinite;
  stroke-dasharray: 300 100;
  stroke-linecap: round;
  stroke-width: 5;
}

.path-3 {
  stroke-linecap: round;
  stroke-width: 6;
}

.path-3.dotted {
  stroke-dasharray: 6 12;
  animation: dash-3 infinite 2s linear reverse;
}

.path-3.dotted.reverse {
  animation-direction: normal;
}

.path.reverse {
  animation-direction: reverse;
}

@keyframes dash {
  from {
    stroke-dashoffset: 120;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-2 {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-3 {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}




.codes .col-2 pre{
  margin-left: 22%;
}

.codes .col-2 .icon {
  width: 20%;
  height: 150px;
  margin-right: 2%;
}

.codes .icon.tall {
  height: 190px;
  margin-top: -2%;
  background-position: top center;
}

.codes .icon.icon-gradient:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% 200%;
  background-repeat: repeat;
  background-position: top left;
  animation: gradient-cycle 5s infinite linear;
}

.codes .icon-s1:after {
  background-image: linear-gradient(
      to bottom,
      rgba(255,255,255, 0),
      rgba(255,255,255, 0),
      rgb(0,255,255),
      rgba(255,255,255, 0),
      rgba(255,255,255, 0),
      rgb(255,0,255),
      rgba(255,255,255, 0)
  );
}

.codes .icon-s3:after {
  background-image: linear-gradient(
      to bottom,
      rgb(0,255,255),
      rgb(0,0,255),
      rgb(255,0,255),
      rgb(0,0,255),
      rgb(0,255,255)
  );
}

.codes .gradient {
  position: absolute;
  z-index: 0;
  top: auto;
  background-size: 100% 200%;
  background-repeat: repeat;
  background-position: top left;
}

.codes .gradient-1 {
  width: 80%;
  right: 5%;
  height: 500px;
  margin-top: -15%;
  background-image: linear-gradient(
      to bottom,
      rgb(255,255,0),
      rgb(255,0,0),
      rgb(255,0,255),
      rgb(255,0,0),
      rgb(255,255,0)
  );
  animation: gradient-cycle 5s infinite linear;
}

.codes .gradient-2 {
  width: 60%;
  right: 20%;
  height: 400px;
  margin-top: -5%;
  background-image: linear-gradient(
      to bottom,
      rgb(255,0,255),
      rgb(0,0,255),
      rgb(0,255,255),
      rgb(0,0,255),
      rgb(255,0,255)
  );
  animation: gradient-cycle 5s infinite linear;
}

.codes .gradient-3 {
  width: 50%;
  right: 20%;
  height: 600px;
  margin-top: -20%;
  background-image: linear-gradient(
      to bottom,
      rgb(255,255,0),
      rgb(0,255,255),
      rgb(255,255,0)
  );
  animation: gradient-cycle 5s infinite linear;
}

.codes .gradient-4 {
  width: 400px;
  left: 15%;
  height: 400px;
  margin-top: -20%;
  border-radius: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(255,255,255, 0),
      rgba(255,255,255, 0),
      rgb(0,255,255),
      rgba(255,255,255, 0)
  );
  animation: gradient-cycle 5s infinite linear;
}

.codes .gradient-5 {
  width: 300px;
  right: 5%;
  height: 850px;
  margin-top: -50%;
  background-image: linear-gradient(
      to bottom,
      rgba(255,255,255, 0),
      rgba(255,255,255, 0),
      rgb(0,255,255),
      rgb(0,0,255),
      rgb(255,0,255),
      rgba(255,255,255, 0)
  );
  animation: gradient-cycle 5s infinite linear;
}

.codes .gradient-6 {
  width: 100%;
  height: 600px;
  margin-top: -55%;
  background-image: linear-gradient(
      to bottom,
      rgb(255,0,0),
      rgb(255,255,0),
      rgb(255,0,0)
  );
  animation: gradient-cycle 5s infinite linear;
}

.codes .gradient-7 {
  width: 60%;
  height: 500px;
  margin-top: -55%;
  background-image: linear-gradient(
      to bottom,
      rgb(255,255,0),
      rgb(0,255,255),
      rgb(255,255,0)
  );
  animation: gradient-cycle 5s infinite linear;
}

.codes .gradient-8 {
  width: 25%;
  left: 15%;
  height: 500px;
  margin-top: -30%;
  background-image: linear-gradient(
      to bottom,
      rgb(0,255,255),
      rgb(0,0,255),
      rgb(255,0,255),
      rgb(0,0,255),
      rgb(0,255,255)
  );
  animation: gradient-cycle 5s infinite linear;
}

.codes .gradient-9 {
  width: 300px;
  left: 15%;
  height: 300px;
  margin-top: -20%;
  background-image: linear-gradient(
      to bottom,
      rgb(255,0,255),
      rgb(255,0,0),
      rgb(255,255,0),
      rgb(255,0,0),
      rgb(255,0,255)
  );
  animation: gradient-cycle 5s infinite linear;
}

.blink-1 {
  animation: blink-1 steps(1) infinite 1.5s;
}
.blink-2 {
  animation: blink-1 steps(1) infinite 1.5s;
  animation-delay: 250ms;
}
.blink-3 {
  animation: blink-1 steps(1) infinite 1.5s;
  animation-delay: 500ms;
}

@keyframes gradient-cycle {
    0%   { background-position: 0 0;  }
    100% { background-position: 0 200%; }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink-1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}