#Postmasters {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}

#Postmasters img {
  box-sizing: content-box;
}

#paperCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  z-index: 2;
  pointer-events: none;
}

.front {
  position: absolute;
  width: 100%;
  top: auto;
  left: 0;
  z-index: 3;
  font-size: 0;
  pointer-events: none;
}

.front img {
  pointer-events: auto;
}

#text {
  position: absolute;
  z-index: 6;
  top: auto;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#headline {
  width: 70%;
  font-size: 6.5vw;
  color: white;
  opacity: 0;
  padding-top: 50%;
  padding-left: 5%;
  line-height: 1em;
}

#description {
  padding: 610% 10% 0;
  width: 80%;
  font-size: 3.6vw;
  line-height: 1em;
  color: white;
}

#cursor {
  position: relative;
  top: -0.1em;
}

.front img,
.front div {
  display: inline-block;
  vertical-align: top;
}

.releases.postmasters img.zoom-img {
  width: auto;
  transition: all 200ms ease-in-out;
  pointer-events: none;
}

.releases .front div img {
  width: 100%;
  height: auto;
}

.releases .front img {
  height: auto;
  display: inline-block;
}

.back {
  width: 100%;
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  background: white;
  //min-height: 6000vh;
}

#back1 {
  z-index: 1;
}

.back img,
.back div {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  //margin-top: 1000%;
}

.back div img {
  width: 100%;
}

.vimeo {
  position: absolute;
  width: 50vw;
  height: 28.125vw;
  border: 0;
  top: auto;
  left: 50%;
  transform: translate3d(-50%,0,0);
  pointer-events: auto;
  z-index: 2;
  margin-top: 92%;
}

.vimeo:after {
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 28.125vw;
  background: rgba(0,0,0,0);
  transition: background 300ms ease-in-out;
}

.vimeo[data-paused]:after {
  background: rgba(0,0,0,0.4);
}

.vimeo iframe {
  position: relative;
  width: 50vw;
  height: 28.125vw;
  pointer-events: none;
}

#parallax {
  position: fixed;
  z-index: 5;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.credits {
  //padding-top: 158%;
  //box-sizing: border-box;
  padding-top: 35%;
  padding-bottom: 15%;
  height: 75vw;
  min-height: 800px;
  background-size: cover;
  background-position: center 60%;
}

.mobile #click {
  display: none;
}

#click {
  position: absolute;
  z-index: 2;
  margin-top: 170%;
  margin-left: 60%;
  top: auto;
  left: 0;
  font-size: 2vw;
  text-align: left;
}

#click:hover {
  color: #00FFFF;
}

@media (max-width: 600px) {

  #click {
    display: none;
  }

  .credits {
    min-height: 50vh;
    max-height: 50vh;
  }
  
}

.credits a {
  color: white;
}

.credits a:visited {
  color: white;
}

.credits a:hover {
  color: black;
}

.credits p {
  font-size: 2vw;
  color: white;
  text-align: center;
}

.releases .credits img {
  width: 50%;
  margin: 0 auto;
  padding-top: 30%;
  display: block;
}

#parallax img {
  will-change: transform;
  -moz-transition: transform 50ms linear;
}

.LazyLoad {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.LazyLoad.is-visible {
  opacity: 1;
}

.releases .image-front0 {
  width: 30%;
  margin: 15% 16% 0 14%;
}

.releases .image-front1 {
  width: 30%;
  margin: 34% 0 0 0;
  margin-bottom: 53%;
}

.releases .image-front2 {
  width: 30%;
  margin: 22.5% 0;
}

.releases .image-front3 {
  width: 20%;
  margin-left: 50%;
  margin-right: 0;
  margin-top: 90%;
}

.releases .image-front4 {
  width: 35%;
  margin: 10% 10% 0 10%;
}

.releases .image-front5 {
  width: 35%;
  margin: 10% 0 0 10%;
}

.releases .image-front6 {
  width: 40%;
  margin: 10% 30%;
}

.releases .image-front7 {
  width: 64%;
  margin: 10% 18% 5%;
}

.releases .image-front8 {
  width: 100%;
  margin: 10% 0;
}

.releases .image-front9 {
  width: 30%;
  margin: 10% 35%;
}

.releases .image-front10 {
  width: 32%;
  margin: 25% 2% 0 4.7%;
}

.releases .image-front11 {
  
  width: 24.75%;
  margin: 25% 2% 0 0;
}

.releases .image-front12 {
  width: 29%;
  margin: 25% 0;
  position: relative;
}

.releases .image-front13 {
  width: 40%;
  margin: 38% 30% 5%;
}

.releases .image-front14 {
  width: 26%;
  margin: 20% 20% 5% 10%;
}

.releases .image-front15 {
  width: 40%;
  margin: 0 10% 0 0;
}

.releases .image-front16 {
  width: 20%;
  margin: 10% 0 0 10%;
}

.releases .image-front17 {
  width: 40%;
  margin: 22% 30% 15%;
}

.releases .image-front18 {
  width: 24%;
  margin: 125% 10% 0 15%;
}

.releases .image-front19 {
  width: 40%;
  margin: 140% 0 0;
}

.releases .image-front20 {
  width: 25%;
  margin: 0 0 0 8%;
  margin-top: -15%;
}

.releases .image-front21 {
  width: 68%;
  margin: 30% 2% 0 0;
}

.releases .image-front22 {
  width: 30%;
  margin: 30% 0 0 0;
}

.releases .image-front23 {
  width: 60%;
  margin: 5% 0% 0 8%;
}

.releases .image-front24 {
  width: 27%;
  margin: 0 0 0 5%;
  margin-top: -5%;
}

.releases .image-back0 {
  margin-bottom: 50%;
}

.releases .image-back1 {
  width: 32%;
  padding: 35% 0 0 38%;
}

.releases .image-back2 {
  padding-top: 60%;
}

.releases .image-back3 {
  width: 74%;
  padding: 120% 13% 0;
}

.releases .image-back4 {
  padding-top: 40%;
}

.releases .image-back9 {
  padding-bottom: 150%;
}