#Postmasters {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}

#myCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  z-index: 2;
  pointer-events: none;
}

.front {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}

.releases .front img {
  width: 50%;
  height: auto;
  display: inline-block;
  padding: 10%;
}

#image-front0 {
  width: 30%;
  padding: 10%;
}

#image-front1 {
  width: 30%;
  padding: 25% 10%;
}


.back {
  width: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background: white;
}

#back1 {
  z-index: 1;
}

.back img {
  width: 100%;
  height: auto;
  display: block;
}

#image-back1 {
  padding-top: 40%;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--front {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}