@font-face {
    font-family: 'menlobold';
    src: url('./fonts/menlo-bold-webfont.woff2') format('woff2'),
         url('./fonts/menlo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, #root, .container, main {
    height: 100%;
}

body {
    color: black;
    font-family: 'menlobold','menlo', monospace;
    font-weight: bold;
    line-height: 1.13;
    background-color: white;
    margin: 0;
}

pre {
    font-family: 'menlo', monospace;
    margin-top: 0;
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.logo a:hover {
    background: none;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
}

main {
    position: relative;
    flex: 16;
}

a {
    text-decoration: none;
}

a:hover .text {
    text-decoration: underline;
}

nav li {
    position: relative;
}

nav a.active .text {
    text-decoration: underline;
}

nav a.active:hover {
    background: none;
}

.logo {
    font-size: 30px;
    margin: 0;
}

nav {
    flex: 4;
    font-size: 30px;
    z-index: 10;
    background: white;
}

nav {
    min-width: 240px;
}

.logo {
    margin-top: 0;
    margin-bottom: 0;
}

.shopButton {
    margin-top: 0;
    margin-bottom: 0;
}

.releases {
    height: 100vh;
    overflow-y: auto;
    position: relative;
}

.releases img {
    width: 100%;
    display: block;
}

.form {
    position: absolute;
    font-size: 64px;
    left: 0;
    right: 0;
    padding: 20px;
    height: 600px;
}

.SubscribeForm {
  z-index: 99;
}

.form-message {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form button[type="submit"] {
    cursor: pointer;
    background: none;
    border: 8px solid black;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

.form button[type="submit"]:hover {
    text-decoration: underline;
}

.form button[type="submit"]:active, .form button[type="submit"]:focus {
    outline: none;
}

.form button[type="submit"]:hover:active {
    text-decoration: underline;
}

.form-close-container {
    text-align: right;
}

.form-close {
    background: none;
    border: none;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    cursor: pointer;
}

.form-close:focus {
    outline: none;
}

.form-header, .form-footer {
    text-align: center;
    margin: 0.5em;
}

.form-field {
    display: flex;
}

.form-field input {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    padding-left: 24px;
    font-size: inherit;
    border: none;
    border-bottom: 8px solid black;
    background: none;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.c-screenwear-cover {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.c-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
    background-color: white;
    font-size: 28px;
    line-height: 1.2;
}

.c-panel--right {
    z-index: 10;
    flex: 3;
    padding-right: 34px;
    min-width: 200px;
    text-align: right;
}

.c-panel--left {
    padding-left: 34px;
}

.c-menu + .c-menu {
    margin-top: -1.15em; /* compensate .c-menu__item margin */
}

.c-panel--left .c-menu .c-menu {
    padding-left: 1.7em;
}

.c-menu__item {
    font-size: inherit;
    line-height: inherit;
    margin-top: 1.15em;
    margin-bottom: 1.15em;
}

.u-mg-none {
    margin: 0;
}

.c-links {
    margin-top: 1.7em;
}

.c-links__space {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.c-links__indent--1 {
    padding-right: 1.7em;
}

.c-links__indent--2 {
    padding-right: 3em;
}

@keyframes an-z-index {
    from {
        z-index: -1;
    }
    to {
        z-index: 0;
    }
}

.c-button {
    /* Resets */
    padding: 0;
    border: none;
    text-align: left;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    outline: none;

    position: relative;
    min-height: 59px;
    min-width: 164px;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 3px;
    background-color: #00FFFF;
}

.c-button::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFFD38;

    animation-name: an-z-index;
    animation-duration: .1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.c-button--slowly::before {
    animation-duration: .5s;
    animation-direction: alternate-reverse;
}

.c-button__text {
    position: relative;
    white-space: pre;
    z-index: 1;
}
