body {
  color: black;
  font-family: 'menlo', monospace;
  font-weight: bold;
  line-height: 1.13;
  background-color: white;
  margin: 0;
  height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    height: 100vh;
}

.container > * {
    overflow-y: auto;
}

main {
    flex: 1;
}

.menu a {
    text-decoration: none;
}

.menu a.active {
    text-decoration: underline;
}

.logo {
    font-size: 30px;
    margin: 0;
}

nav,
.rightpanel {
  width: 17%;
  padding: 20px;
  font-size: 30px;
}

nav {
    min-width: 260px;
}

.rightpanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.releases img {
    width: 100%;
}
