@font-face {
    font-family: 'menlobold';
    src: url('./fonts/menlo-bold-webfont.woff2') format('woff2'),
         url('./fonts/menlo-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: 'menlobold', 'menlo', monospace;
    font-weight: bold;
    line-height: 1.13;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
}

html, body, #root {
    height: 100%;
}

::-webkit-scrollbar {
    width: 0;
}

pre {
    font-family: 'menlobold', 'menlo', monospace;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover .text {
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-app {
    display: flex;
    min-height: 100%;
}

.c-app__main {
    flex: 16;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.c-app__panel {
    flex: 3;
    z-index: 10;
}

.c-app__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.c-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 220px;
    padding-top: 34px;
    padding-bottom: 34px;
    background-color: white;
    font-size: 28px;
    line-height: 1.2;
}

.c-panel--right {
    padding-right: 34px;
    text-align: right;
    min-width: 230px;
}

.c-panel--left {
    padding-left: 34px;
}

.c-panel--left .c-menu .c-menu {
    padding-left: 1.7em;
}

.c-menu__item {
    font-size: inherit;
    line-height: inherit;
    margin-top: .4em;
    margin-bottom: .4em;
}

.c-menu + .c-menu {
    margin-top: -.4em; /* compensate .c-menu__item margin */
}

.logo a:hover {
    background: none;
}

.logo {
    font-size: 30px;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.releases img {
    width: 100%;
    display: block;
}

.form {
    position: absolute;
    font-size: 64px;
    left: 0;
    right: 0;
    padding: 20px;
    height: 600px;
}

.SubscribeForm {
    z-index: 100;
}

.form-message {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form button[type="submit"] {
    cursor: pointer;
    background: none;
    border: 8px solid black;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

.form button[type="submit"]:hover {
    text-decoration: underline;
}

.form button[type="submit"]:active, .form button[type="submit"]:focus {
    outline: none;
}

.form button[type="submit"]:hover:active {
    text-decoration: underline;
}

.form-close-container {
    text-align: right;
}

.form-close {
    background: none;
    border: none;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    cursor: pointer;
}

.form-close:focus {
    outline: none;
}

.form-header, .form-footer {
    text-align: center;
    margin: 0.5em;
}

.form-field {
    display: flex;
}

.form-field input {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    padding-left: 24px;
    font-size: inherit;
    border: none;
    border-bottom: 8px solid black;
    background: none;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.c-screenwear-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.c-links__space {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.c-links__indent--06 {
    padding-right: 1em;
}

.c-links__indent--1 {
    padding-right: 1.8em;
}

.c-links__indent--2 {
    padding-right: 3em;
}

@keyframes an-z-index {
    from {
        z-index: -1;
    }
    to {
        z-index: 0;
    }
}

.c-shop-button-container {
    margin-top: 0;
    margin-bottom: 0;
}

.c-button {
    /* Resets */
    padding: 0;
    border: none;
    text-align: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    outline: none;
    background: none;
    position: relative;
}

.c-button-offset {
    min-height: 59px;
    min-width: 164px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 3px;
    background-color: #00FFFF;
    cursor: pointer;
}

.c-button-offset::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFFD38;

    animation-name: an-z-index;
    animation-duration: .1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.c-button-offset--slowly::before {
    animation-duration: .5s;
    animation-direction: alternate-reverse;
}

.c-button__text {
    position: relative;
    white-space: pre;
    z-index: 1;
    color: #000;
}

.c-button-barcode {
    width: 100%;
    height: 45px;
    padding-left: 1.7em;
    text-align: left;
}

@keyframes an-barcode-bg {
    0%   { background-position: 0%;  }
    50%  {
        background-size: 100%;
        background-position: 30%;
    }
    100% { background-position: 100%; }
}

@keyframes an-barcode-colors {
    0%     { color: #939DFD }
    33.33% { color: #43C9FD }
    66.66% { color: #F142FC }
    100%   { color: #FDEF36 }
}

.c-button-barcode__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    background-image: linear-gradient(
        to right,
        rgba(255,255,255,0),
        currentColor 35%,
        currentColor 50%,
        rgba(255,255,255,0)
    );
    background-size: 20%;
    background-repeat: repeat-y;
    background-position: top left;

    color: #939DFD;
    opacity: .75;

    animation-name: an-barcode-bg, an-barcode-colors;
    animation-duration: 1.5s, 6s;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95), linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.c-icon {
    height: 1em;
    margin-bottom: -4px;
}

.c-icon--twitter {
    height: .95em;
    margin-bottom: -5px;
}

.c-icon--vimeo {
    height: .85em;
}

._short-spacing {
    letter-spacing: -4px;
}

.c-article {
    padding: 50px;
    font-size: 28px;
}

.c-article--soon {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c-vimeo-video {
    position: relative;
}

.c-vimeo-video:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    transition: background .3ms;
}

.c-vimeo-video[data-paused]:after {
    background: rgba(0, 0, 0, .4);
}

.c-vimeo-video iframe {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.u-mg-none {
    margin: 0;
}

.u-mg-none--t {
    margin-top: 0;
}

.u-mg-none--b {
    margin-bottom: 0;
}

.c-home-video {
    position: absolute;
    top: 34px;
    bottom: 34px;
    left: 50%;
    width: 100vmax;
    transform: translate(-50%);
}

.c-home-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
